.header{
  position: relative;
  height: 100vh;
  min-height: 200px;
  width: 100%;
	max-width: 1920px;
  color: $dark-text;
  text-align: center;
  overflow: hidden;
  transition: height .5s, min-height .5s;

  @include tablet {
    height: 200px;
  }

  &--add {
    height: 200px;
  }
  
  &__layover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 46, 115, .35);
  }
  &__text {
    color: $light-text;
  }
}